<!DOCTYPE html>

<h1>Editing Book</h1>


  <div class="field">
      <h2>Title</h2>
      <input class="book_title"="book[title]" id="book_title">
  </div>

  <div class="field">
      <h2>Body</h2>
      <textarea class="book_body"="book[body]" id="book_body"></textarea>
  </div>

 <%= f.submit 'Update Book' %>
 <% end %>

